#about {
    min-height: 100vh;
    /* border: thin solid red; */
}
#about-paragraph {
    margin: 2vh 4vw 2vh 4vw;
    border: thin solid var(--nav-color);
    padding: 1vh 2vw 1vh 2vw;
    background-color: var(--background-grey);
    opacity: .9;
    border-radius: 10px;
}

#about-img {
    float: right;
    padding: 3px;
}
