/* .carousel {
    border-radius: 20px;
    width:1200px;
    height:850px;
    margin: auto;
} */

#carousel img{
    border-radius: 20px;
    width: 250px;
    height: 850px;
    object-fit: contain;
}