.paddingTop {
    padding-top: 80px;
}
.borderBox {
    box-sizing: border-box;
}

.component {
    display: block;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    min-height: 100vh;
    padding-top: 80px;
    border: thin solid red;
}

.section-title {
    border: thin solid red;
    /* width: 100vh; */
    margin-bottom: 4vh;
    margin-left: 15px;
    text-align: left;
    font-family: "Oswald";
    color: var(--nav-color);
    text-shadow: 3px 3px 3px var(--text-shadow);
    text-size-adjust: auto;
    font-size: 36px;
    /* align-self: flex-start; */
}
@media screen and (min-width: 501px) {
    /*desktop size*/
    .section-title {
        font-size: 48px;
    }
}