#contact {
    min-height: 100vh;
    /* border: thin solid red; */
}
#merch {
    font-family: 'Oswald';
    text-align: center;
    color: var(--nav-color);
}
a {
    color: var(--nav-color);
}

.socialIconContainer {
    padding-top: 10px;
}

.socialIcon:hover {
    transform: translateY(-3px);
}

.socialIcon {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}