#contact {
    min-height: 100vh;
    /* border: thin solid red; */
}
.contactParent {
    display: flex;
    flex-direction: row;
}

#link {
    color: var(--nav-color);
}

#link:hover {
    color: var(--nav-select);
}

#merch {
    font-family: 'Oswald';
    text-align: center;
    color: var(--nav-color);
}

#contact-content {
    /* margin: auto 5vw auto 5vw; */
    border: thin solid var(--nav-color);
    /* padding: 2vw; */
    background-color: var(--background-grey);
    opacity: .9;
    border-radius: 10px;
    margin-bottom: 2vh;
}

#bandcamp-container {
    display: flex;
    padding: 10%;
    margin: 5% 2% 5% 2%;
    /* border: thin solid red; */
    justify-content: flex-end;
}

#contact-form {
    /* margin: auto 5vw auto 5vw; */
    border: thin solid var(--nav-color);
    padding: 2vw;
    font-family: "Oswald";
    background-color: var(--background-grey);
    opacity: .9;
    border-radius: 10px;
    margin-bottom: 2vh;
}

.form-label {
    color: var(--nav-color);
    text-shadow: 2px 2px 2px var(--nav-hover);
}

.socialIconContainer {
    padding: 5vh;
}

.socialIcon:hover {
    transform: translateY(-3px);
}

.socialIcon {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

#form-button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-image: linear-gradient(to bottom left, var(--nav-hover), brown);
    color: var(--nav-color);
    border: thin solid var(--nav-hover);
    font-size: 1.1em;
    text-shadow: 2px 2px 2px var(--text-shadow);
}

#form-button:hover {
    transition: all .5s ease-out;
    transform: scale(1.1);
}

.formFields {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
@media screen and (max-width: 1000px) {
    /*desktop size*/
    .contactParent {
        align-items: center;
        flex-direction: column;
    }
}
