#contact {
    min-height: 100vh;
    /* border: thin solid red; */
}
#merch {
    font-family: 'Oswald';
    text-align: center;
    color: var(--nav-color);
}
#contact-form {
    margin: 2vh 10vw 2vh 10vw;
    border: thin solid var(--nav-color);
    padding: 1vw;
    font-family: "Oswald";
    background-color: var(--background-grey);
    opacity: .9;
}
.form-label {
    color: var(--nav-color);
}

.socialIconContainer {
    padding-top: 10px;
}

.socialIcon:hover {
    transform: translateY(-3px);
}

.socialIcon {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

.form-control {
    color: var(--nav-select);
}