#video {
    min-height: 100vh;
}
.videoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.youtube {
    width: 20vw;
    min-width: 250px;
    cursor: pointer;
}
