header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100vw;
    user-select: none;
    height: 80px;
    color: var(--nav-color);
    text-shadow: 2px 2px 4px #C96D03;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .logoNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 54vw;
    padding-left: 15px;
    max-height: 80px;
  }
  .logo {
    padding: 15px 20px 0 0;
    height: 150px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    white-space: nowrap;
  }
  
  nav {
    width: 450px;
    transition: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .navLink {
    /* border: thin solid red; */
    font-family: 'Oswald';
    outline: none;
    padding: 2px 10px;
    border-radius: 15px;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: var(--nav-color);
  }
  
  .activeLogo {
    border: none;
  }
  
  .navIcon {
    display: none;
  }
  
  .logo:hover,
  .navLink:hover,
  .active,
  .activeLogo {
    color: var(--nav-select);
    text-shadow: 2px 2px 2px red;
    text-decoration: none;
  }
  
  .active,
  .navIcon {
    border: var(--nav-hover);
    text-decoration: none;
  }
  
  @media screen and (max-width: 500px) {
    .navIcon > div {
      display: block;
      position: relative;
      background-color: var(--nav-hover);     
      content: "";
      height: 3px;
      margin: 5px 0;
      transition: transform 0.3s ease-in-out;
    }
    .navParent {
      display: block;
      width: 100vw;
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 20px;
      z-index: 4;
    }
  
    .navIcon {
      display: block;
      position: relative;
      top: 20px;
      right: 20px;
      margin-left: auto;
      width: 44px;
      border: thin solid red;
      border-radius: 5px;
      padding: 2px 5px;
      cursor: pointer;
      z-index: 4;
    }
    .logoNav {
      width: 100vw;
    }
    .logo {
      margin-left: 100px;
    }
  
    nav {
      position: absolute;
      visibility: collapse;
      transform: translateY(-100%);
      top: 0px;
      right: 0px;
      margin: 0;
      width: 100%;
      padding: 80px 100px 8px;
      background: rgba(0,0, 0, .5);
      z-index: 3;
    }
  
    .navLink {
      display: block;
      position: relative;
      text-align: right;
      margin: 0 0 0 auto;
      z-index: 100;
    }
  
    nav.transition {
      transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
  
    nav.visible {
      visibility: visible;
      transform: translateY(0);
    }
  
    .navIcon.visible > :first-child {
      transform: translateY(5px) rotate(45deg);
    }
  
    .navIcon.visible > :last-child {
      transform: translateY(-5px) rotate(-45deg);
    }
  
    .navIcon.visible > :nth-child(2) {
      transform: scale(0);
    }
  
    /* the below code is for fading in the drop down menu. before attempting to use, switch classnames to camelcase */
  
    /* header {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      height: 85px;
    }
  
    .logo-parent {
      display: flex;
      justify-content: flex-start;
      padding-left: 20px;
      width: 80%;
    }
  
    .nav-icon-parent {
      width: 20%;
    }
  
    .nav-link {
      display: block;
    }
  
    nav {
      visibility: collapse;
      opacity: 0;
      position: absolute;
      top: 84px;
      left: -1px;
      margin: 0;
      width: 101%;
      padding: 3px 40px;
    }
  
    nav.transition {
      transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }
  
    nav.visible {
      visibility: visible;
      opacity: 1;
    }
  
    .nav-icon {
      height: 38px;
      width: 44px;
      border: 4px solid #00a5ff;
      border-radius: 10px;
      padding: 2px 5px 2px 5px;
      cursor: pointer;
    }
  
    .nav-icon > div {
      display: block;
      background-color: #00a5ff;
      border-radius: 3px;
      content: "";
      height: 2px;
      margin: 5px 0;
      transition: transform 0.2s ease-in-out;
    }
  
    .nav-icon.visible > :first-child {
      transform: translateY(5px) rotate(45deg);
    }
  
    .nav-icon.visible > :last-child {
      transform: translateY(-5px) rotate(-45deg);
    }
  
    .nav-icon.visible > :nth-child(2) {
      transform: scale(0);
    } */
  }