header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100vw;
    user-select: none;
    height: 80px;
    color: var(--nav-color);
    text-shadow: 2px 2px 4px #C96D03;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .logoParent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .logo {
    padding-top: 15px;
    height: 150px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    white-space: nowrap;
    margin-left: 40vw;
  }
  
  nav {
    width: 450px;
    transition: none;
    right: 20px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .navLink {
    font-family: 'Oswald';
    outline: none;
    padding: 2px 10px;
    border-radius: 15px;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: var(--nav-color);
  }
  
  .activeLogo {
    border: none;
  }
  
  .navIcon {
    display: none;
  }
  
  .logo:hover,
  .navLink:hover,
  .active,
  .activeLogo {
    color: var(--nav-select);
    text-shadow: 2px 2px 2px var(red);
    text-decoration: none;
  }
  
  .active,
  .navIcon {
    border: var(--nav-hover);
    text-decoration: none;
  }
  
  @media screen and (max-width: 500px) {
    .navIcon > div {
      display: block;
      background-color: var(--nav-hover);
      border-radius: 3px;
      content: "";
      height: 2px;
      margin: 5px 0;
      transition: transform 0.3s ease-in-out;
    }
  
    .navIconParent {
      width: 20%;
    }
  
    .navIcon {
      display: block;
      height: 34px;
      width: 44px;
      border-radius: 10px;
      padding: 2px 5px 2px 5px;
      cursor: pointer;
    }
  
    header {
      flex-direction: row;
      justify-content: flex-start;
      height: 70px;
    }
    .logo {
      width: 80%;
      cursor: pointer;
      font-size: 30px;
      font-weight: 500;
      white-space: nowrap;
      margin: 15px 10px 15px 20px;
    }
  
    .logoParent {
      flex-wrap: wrap;
    }
  
    nav {
      visibility: collapse;
      transform: translateY(-100%);
      top: 80px;
      right: 0px;
      margin: 0;
      width: 100%;
      padding: 4px 40px 8px;
      background-color: black;
      z-index: -1;
    }
  
    .navLink {
      display: block;
    }
  
    nav.transition {
      transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    }
  
    nav.visible {
      visibility: visible;
      transform: translateY(0);
    }
  
    .navIcon.visible > :first-child {
      transform: translateY(5px) rotate(45deg);
    }
  
    .navIcon.visible > :last-child {
      transform: translateY(-5px) rotate(-45deg);
    }
  
    .navIcon.visible > :nth-child(2) {
      transform: scale(0);
    }
  
    /* the below code is for fading in the drop down menu */
  
    /* header {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      height: 85px;
    }
  
    .logo-parent {
      display: flex;
      justify-content: flex-start;
      padding-left: 20px;
      width: 80%;
    }
  
    .nav-icon-parent {
      width: 20%;
    }
  
    .nav-link {
      display: block;
    }
  
    nav {
      visibility: collapse;
      opacity: 0;
      position: absolute;
      top: 84px;
      left: -1px;
      margin: 0;
      width: 101%;
      padding: 3px 40px;
    }
  
    nav.transition {
      transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }
  
    nav.visible {
      visibility: visible;
      opacity: 1;
    }
  
    .nav-icon {
      height: 38px;
      width: 44px;
      border: 4px solid #00a5ff;
      border-radius: 10px;
      padding: 2px 5px 2px 5px;
      cursor: pointer;
    }
  
    .nav-icon > div {
      display: block;
      background-color: #00a5ff;
      border-radius: 3px;
      content: "";
      height: 2px;
      margin: 5px 0;
      transition: transform 0.2s ease-in-out;
    }
  
    .nav-icon.visible > :first-child {
      transform: translateY(5px) rotate(45deg);
    }
  
    .nav-icon.visible > :last-child {
      transform: translateY(-5px) rotate(-45deg);
    }
  
    .nav-icon.visible > :nth-child(2) {
      transform: scale(0);
    } */
  }