html, body {
    padding: 0;
    margin: 0;
    background-image: url('../public/pics/background.png');
}

h1, h2, h3, p, a {
    color: var(--nav-color);
    text-shadow: 2px 2px 3px var(--text-shadow);
    font-family: "Oswald";
}

a:hover {
    color: var(--nav-select);
}

:root {
    --nav-color: #FCF3CB;
    --nav-select: #E0514C;
    --nav-hover: red;
    --text-shadow: #C96D03;
}

.page-wrapper {
    padding: 5px;
    border: 5px 5px red;
}


@media screen and (min-width: 501px) {
    /*desktop size*/

}