html, body {
    padding: 0;
    margin: 0;
    background-image: url('../public/pics/background.png');
}

:root {
    --nav-color: #FCF3CB;
    --nav-select: #E0514C;
    --nav-hover: red;
    --text-shadow: #C96D03;
}

.page-wrapper {
    padding: 5px;
}

.section-title {
    margin-top: 5vh;
    margin-left: 5vw;
    text-align: left;
    font-family: "Oswald";
    color: var(--nav-color);
    text-shadow: 3px 3px 3px var(--text-shadow);
    text-size-adjust: auto;
}